@mixin viewport($unit: 'vh', $property: 'height', $amount: 100, $important: false, $sourceProperty: 'height') {
  #{$property}: #{$amount}#{$unit} if($important, !important, null);

  $sizes: (
    iPad: (
      'width' 768,
      'height' 1024
    ),
    iPhone4: (
      'width' 320,
      'height' 480
    ),
    iPhone5: (
      'width' 320,
      'height' 568
    ),
    iPhone6: (
      'width' 375,
      'height' 667
    ),
    iPhone6Plus: (
      'width' 414,
      'height' 736
    )
  );

  $orientations: (
    0 portrait,
    1 landscape
  );

  $pxwidth: null;
  $pxheight: null;

  @each $name, $size in $sizes {
    @each $index, $orientation in $orientations {
      $map: map-get($sizes, $name);

      @each $key, $value in $map {
        @if ($sourceProperty == 'height') {
          @if ($key == 'height') {
            $pxheight: $value;
          }
          @else {
            $pxwidth: $value;
          }
        }
        @else {
          @if ($key == 'height') {
            $pxwidth: $value;
          }
          @else {
            $pxheight: $value;
          }
        }
      }

      @media all and (device-width: #{$pxwidth}px) and (device-height: #{$pxheight}px) and (orientation: $orientation){
        #{$property}: #{if($orientation == portrait, $pxheight, $pxwidth)*($amount/100)}px if($important, !important, null);
      }
    }
  }
}

@mixin vh($property: 'height', $amount: 100, $important: false, $sourceProperty: 'height') {
  @include viewport('vh', $property, $amount, $important, $sourceProperty);
}

@mixin vw($property: 'width', $amount: 100, $important: false, $sourceProperty: 'width') {
  @include viewport('vw', $property, $amount, $important, $sourceProperty);
}

@mixin vmin($property: 'height', $amount: 100, $important: false, $sourceProperty: 'height') {
  @include viewport('vmin', $property, $amount, $important, $sourceProperty);
}

@mixin vmax($property: 'height', $amount: 100, $important: false, $sourceProperty: 'height') {
  @include viewport('vmax', $property, $amount, $important, $sourceProperty);
}
